{% extends 'pharma/start.html' %}
{% block create %}{% endblock %}
{% block content %}
{% load static %}
<head>
    <title>Pharmacy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'prescriptions/styles.css' %}"> -->
    <article class="post">
        <h2>{{ med.medName }}</h2>
        <a href="{% url 'pharma:update' pk=med.pk %}">
            <input type="button" value="Update/Edit the Post">
        </a>
        <p>Price: ${{ med.price|linebreaksbr }}</p>
        <p>Quantity: {{ med.quantity|linebreaksbr }}</p>
    </article>
{% endblock %}