{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'prescriptions/styles.css' %}">

<h1>Prescriptions</h1>

{% if prescription_list %}
    <ul>
    {% for prescription in prescription_list %}
        <li>
          {{ prescription.message }}
          <a href="{% url 'prescriptions:update' prescription.id %}">edit</a>
          <a href="{% url 'prescriptions:delete' prescription.id %}">delete</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No prescriptions are available.</p>
{% endif %}
<a href="{% url 'prescriptions:create' %}">Create a New Prescription</a>
