{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'prescriptions/styles.css' %}"> -->
<!DOCTYPE html>
<html>
    <head>
        <title>Pharmacy</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <header class="page-header">
            <div class="container">
                {% block create %}
                <a href="{% url 'pharma:create' %}" class="top-menu">Add new Medicine</a>
                <a href="{% url 'pharma:cart' %}" class="top-menu">Add Medicine to cart</a>
                {% endblock %}
            </div>
        </header>
        <main class="container">
            <div class="row">
                <div class="col">
                    {% block content %}
                        {% if med_list %}
                            {% for med in med_list %}
                                <article class="post">
                                    <h2><a href="{% url 'pharma:view' pk=med.pk %}">{{ med.medName }}</a></h2>
                                    <p>Price: ${{ med.price|linebreaksbr }}</p>
                                    <p>Quantity: {{ med.quantity|linebreaksbr }}</p>
                                </article>
                            {% endfor %}
                        {% else %}
                            <p>No Medicines are available.</p>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>